In [139]:
import pandas as pd
import datetime as dt
import calendar

In [140]:
#assign .csv
file_one = "data_files/JC-202110-citibike-tripdata.csv"

In [141]:
#read in .csv
file_one_df = pd.read_csv(file_one, encoding="utf-8")
file_one_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0FA0B0B972A68AAB,classic_bike,2021-10-19 06:08:46,2021-10-19 06:11:26,Glenwood Ave,JC094,Sip Ave,JC056,40.727551,-74.071061,40.730897,-74.063913,member
1,0702BED6EB379838,classic_bike,2021-10-16 12:08:29,2021-10-16 12:13:29,Glenwood Ave,JC094,Sip Ave,JC056,40.727551,-74.071061,40.730897,-74.063913,member
2,A8810ECCC69E2866,classic_bike,2021-10-29 12:29:49,2021-10-29 12:34:49,Glenwood Ave,JC094,Sip Ave,JC056,40.727551,-74.071061,40.730897,-74.063913,member
3,C9A0FF2B82237FFA,classic_bike,2021-10-08 12:36:21,2021-10-08 12:40:55,Glenwood Ave,JC094,Sip Ave,JC056,40.727551,-74.071061,40.730897,-74.063913,member
4,7DFDEB8EF4CAB15C,classic_bike,2021-10-14 06:54:51,2021-10-14 07:01:14,Glenwood Ave,JC094,Sip Ave,JC056,40.727551,-74.071061,40.730897,-74.063913,casual

In [142]:
len(file_one_df.index)

88762

In [143]:
file_one_df.dropna()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0FA0B0B972A68AAB,classic_bike,2021-10-19 06:08:46,2021-10-19 06:11:26,Glenwood Ave,JC094,Sip Ave,JC056,40.727551,-74.071061,40.730897,-74.063913,member
1,0702BED6EB379838,classic_bike,2021-10-16 12:08:29,2021-10-16 12:13:29,Glenwood Ave,JC094,Sip Ave,JC056,40.727551,-74.071061,40.730897,-74.063913,member
2,A8810ECCC69E2866,classic_bike,2021-10-29 12:29:49,2021-10-29 12:34:49,Glenwood Ave,JC094,Sip Ave,JC056,40.727551,-74.071061,40.730897,-74.063913,member
3,C9A0FF2B82237FFA,classic_bike,2021-10-08 12:36:21,2021-10-08 12:40:55,Glenwood Ave,JC094,Sip Ave,JC056,40.727551,-74.071061,40.730897,-74.063913,member
4,7DFDEB8EF4CAB15C,classic_bike,2021-10-14 06:54:51,2021-10-14 07:01:14,Glenwood Ave,JC094,Sip Ave,JC056,40.727551,-74.071061,40.730897,-74.063913,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88757,2B1145DCE1C12234,classic_bike,2021-10-22 21:33:14,2021-10-22 21:56:13,Clinton St & 7 St,HB303,City Hall - Washington St & 1 St,HB105,40.745420,-74.033320,40.737360,-74.030970,casual
88758,9332D910D93C0961,classic_bike,2021-10-16 14:30:26,2021-10-16 14:35:43,Clinton St & 7 St,HB303,City Hall - Washington St & 1 St,HB105,40.745420,-74.033320,40.737360,-74.030970,casual
88759,9BD55309848AD745,classic_bike,2021-10-17 02:11:58,2021-10-17 02:18:26,Clinton St & 7 St,HB303,Grand St & 14 St,HB506,40.745420,-74.033320,40.754090,-74.031600,casual
88760,263F1EE58709CB6D,classic_bike,2021-10-07 20:38:47,2021-10-07 20:44:49,Clinton St & 7 St,HB303,Grand St & 14 St,HB506,40.745420,-74.033320,40.754090,-74.031600,casual
88761,2D38261C42BE80F3,classic_bike,2021-10-23 23:48:08,2021-10-23 23:55:02,Clinton St & 7 St,HB303,Grand St & 14 St,HB506,40.745420,-74.033320,40.754090,-74.031600,casual

In [144]:
len(file_one_df.index)

88762

In [145]:
list(file_one_df)

['ride_id',
 'rideable_type',
 'started_at',
 'ended_at',
 'start_station_name',
 'start_station_id',
 'end_station_name',
 'end_station_id',
 'start_lat',
 'start_lng',
 'end_lat',
 'end_lng',
 'member_casual']

In [146]:
#drop unneeded columns - CHECK FOR UNDERSCORE
#file_one_df.drop(['ride id','start station id','end station id','rideable type','bikeid'], axis = 1, inplace = True, errors = 'ignore')
file_one_df.drop(['ride_id','start_station_id','end_station_id','rideable_type','bikeid'], axis = 1, inplace = True, errors = 'ignore')

file_one_df.head()

,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual
0,2021-10-19 06:08:46,2021-10-19 06:11:26,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member
1,2021-10-16 12:08:29,2021-10-16 12:13:29,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member
2,2021-10-29 12:29:49,2021-10-29 12:34:49,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member
3,2021-10-08 12:36:21,2021-10-08 12:40:55,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member
4,2021-10-14 06:54:51,2021-10-14 07:01:14,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,casual

In [147]:
#Rename colums that have underscores
file_one_df = file_one_df.rename(columns=    
{'started_at': 'starttime',
 'ended_at': 'stoptime',
 'start_station_name':'start station name',
 'start_lat': 'start station latitude',
 'start_lng':'start station longitude',
 'end_station_name': 'end station name',
 'end_lat':'end station latitude',
 'end_lng':'end station longitude',
 'member_casual':'usertype'
})
 
file_one_df.head()

,starttime,stoptime,start station name,end station name,start station latitude,start station longitude,end station latitude,end station longitude,usertype
0,2021-10-19 06:08:46,2021-10-19 06:11:26,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member
1,2021-10-16 12:08:29,2021-10-16 12:13:29,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member
2,2021-10-29 12:29:49,2021-10-29 12:34:49,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member
3,2021-10-08 12:36:21,2021-10-08 12:40:55,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member
4,2021-10-14 06:54:51,2021-10-14 07:01:14,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,casual

In [148]:
#change all usertypes to member/casual
# file_one_df["usertype"].replace({"Subscriber": "member", "Customer": "casual"}, inplace=True)

# file_one_df.head()

In [149]:
# # #change all gender to male, female or unknown
# file_one_df["gender"].replace({1: "male", 2: "female", 0: "unknown"}, inplace=True)
# file_one_df.head()

In [150]:
#split date column into date and time
def convert_date(date):
    
    if len(date) == 24:
        ndate = dt.datetime.strptime(date,'%Y-%m-%d %H:%M:%S.%f')
        return ndate.strftime('%m/%d/%Y')
    
    if len(date) == 19:
        ndate = dt.datetime.strptime(date,'%Y-%m-%d %H:%M:%S')
        return ndate.strftime('%m/%d/%Y')
    
    else:
        return np.nan
    
    
#change time to hours/minutes
def convert_time(date):

    if len(date) == 24:
        ndate = dt.datetime.strptime(date,'%Y-%m-%d %H:%M:%S.%f')
        return ndate.strftime('%H:%M')
    
    if len(date) == 19:
        ndate = dt.datetime.strptime(date,'%Y-%m-%d %H:%M:%S')
        return ndate.strftime('%H:%M')
    
    else:
        return np.nan
    
    
#add column days of week    
def convert_dow(date):
    
    if len(date) == 24:
        ndate = dt.datetime.strptime(date,'%Y-%m-%d %H:%M:%S.%f')
        return calendar.day_name[ndate.weekday()]
    
    if len(date) == 19:
        ndate = dt.datetime.strptime(date,'%Y-%m-%d %H:%M:%S')
        return calendar.day_name[ndate.weekday()]
    
    else:
        return np.nan
    
file_one_df.head()

,starttime,stoptime,start station name,end station name,start station latitude,start station longitude,end station latitude,end station longitude,usertype
0,2021-10-19 06:08:46,2021-10-19 06:11:26,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member
1,2021-10-16 12:08:29,2021-10-16 12:13:29,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member
2,2021-10-29 12:29:49,2021-10-29 12:34:49,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member
3,2021-10-08 12:36:21,2021-10-08 12:40:55,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member
4,2021-10-14 06:54:51,2021-10-14 07:01:14,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,casual

In [151]:
#map new date/time/day columns

file_one_df["day of week"] = file_one_df["starttime"].map(lambda x: convert_dow(x))

file_one_df["start date"] = file_one_df["starttime"].map(lambda x: convert_date(x))

file_one_df["starttime"] = file_one_df["starttime"].map(lambda x: convert_time(x))

file_one_df["stop date"] = file_one_df["stoptime"].map(lambda x: convert_date(x))

file_one_df["stoptime"] = file_one_df["stoptime"].map(lambda x: convert_time(x))


file_one_df.head()

,starttime,stoptime,start station name,end station name,start station latitude,start station longitude,end station latitude,end station longitude,usertype,day of week,start date,stop date
0,06:08,06:11,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member,Tuesday,10/19/2021,10/19/2021
1,12:08,12:13,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member,Saturday,10/16/2021,10/16/2021
2,12:29,12:34,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member,Friday,10/29/2021,10/29/2021
3,12:36,12:40,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member,Friday,10/08/2021,10/08/2021
4,06:54,07:01,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,casual,Thursday,10/14/2021,10/14/2021

In [152]:
#create calculated column
#first change string to number

file_one_df["starttime"] = pd.to_datetime(file_one_df["starttime"])

file_one_df["stoptime"] = pd.to_datetime(file_one_df["stoptime"])


file_one_df['tripduration'] = file_one_df['stoptime'] - file_one_df['starttime']

file_one_df.head()

,starttime,stoptime,start station name,end station name,start station latitude,start station longitude,end station latitude,end station longitude,usertype,day of week,start date,stop date,tripduration
0,2022-01-31 06:08:00,2022-01-31 06:11:00,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member,Tuesday,10/19/2021,10/19/2021,0 days 00:03:00
1,2022-01-31 12:08:00,2022-01-31 12:13:00,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member,Saturday,10/16/2021,10/16/2021,0 days 00:05:00
2,2022-01-31 12:29:00,2022-01-31 12:34:00,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member,Friday,10/29/2021,10/29/2021,0 days 00:05:00
3,2022-01-31 12:36:00,2022-01-31 12:40:00,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,member,Friday,10/08/2021,10/08/2021,0 days 00:04:00
4,2022-01-31 06:54:00,2022-01-31 07:01:00,Glenwood Ave,Sip Ave,40.727551,-74.071061,40.730897,-74.063913,casual,Thursday,10/14/2021,10/14/2021,0 days 00:07:00

In [153]:
file_one_df.to_csv('cleaned/oct21.csv',encoding="utf-8", index=False, header=True)