In [58]:
import pandas as pd
import glob
import datetime as dt

all_files = glob.glob("cleaned/*.csv")

li = []

for filename in all_files:
    li.append(pd.read_csv(filename, index_col=None, header=0))

frame = li[0].append(li[1::], ignore_index=True)

In [59]:
#split date column into date and time
    
#change time to hours/minutes
def convert_time(date):

    try: 
        
        if len(str(date)) >4:   
            date = str(date)
            hour=dt.datetime.strptime(date[7::],'%H:%M:%S').hour*60
            minute=dt.datetime.strptime(date[7::],'%H:%M:%S').minute
            return int(hour + minute)
    
        else:
            return int(round(int(date)/60, 0))
        
    except:
        return 0

In [60]:
frame["tripduration"] = frame["tripduration"].map(lambda x: convert_time(x))

In [61]:
frame.head()

,tripduration,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender,day of week,start date,stop date
0,2,07:48,07:49,Exchange Place,40.716247,-74.033459,Paulus Hook,40.714145,-74.033552,member,1966.0,male,Monday,04/01/2019,04/01/2019
1,8,12:41,12:49,Exchange Place,40.716247,-74.033459,Warren St,40.721124,-74.038051,casual,1990.0,male,Monday,04/01/2019,04/01/2019
2,9,14:27,14:35,Exchange Place,40.716247,-74.033459,Newport PATH,40.727224,-74.033759,member,1987.0,female,Monday,04/01/2019,04/01/2019
3,3,15:07,15:10,Exchange Place,40.716247,-74.033459,Essex Light Rail,40.712774,-74.036486,member,1989.0,male,Monday,04/01/2019,04/01/2019
4,8,16:19,16:27,Exchange Place,40.716247,-74.033459,Manila & 1st,40.721651,-74.042884,member,1995.0,male,Monday,04/01/2019,04/01/2019

In [63]:
frame.tail()

,tripduration,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender,day of week,start date,stop date
345435,23,2022-01-31 21:33:00,2022-01-31 21:56:00,Clinton St & 7 St,40.74542,-74.03332,City Hall - Washington St & 1 St,40.73736,-74.03097,casual,NaN,NaN,Friday,10/22/2021,10/22/2021
345436,5,2022-01-31 14:30:00,2022-01-31 14:35:00,Clinton St & 7 St,40.74542,-74.03332,City Hall - Washington St & 1 St,40.73736,-74.03097,casual,NaN,NaN,Saturday,10/16/2021,10/16/2021
345437,7,2022-01-31 02:11:00,2022-01-31 02:18:00,Clinton St & 7 St,40.74542,-74.03332,Grand St & 14 St,40.75409,-74.03160,casual,NaN,NaN,Sunday,10/17/2021,10/17/2021
345438,6,2022-01-31 20:38:00,2022-01-31 20:44:00,Clinton St & 7 St,40.74542,-74.03332,Grand St & 14 St,40.75409,-74.03160,casual,NaN,NaN,Thursday,10/07/2021,10/07/2021
345439,7,2022-01-31 23:48:00,2022-01-31 23:55:00,Clinton St & 7 St,40.74542,-74.03332,Grand St & 14 St,40.75409,-74.03160,casual,NaN,NaN,Saturday,10/23/2021,10/23/2021

In [64]:
# date = "0 days 01:23:00"

In [65]:
# dt.datetime.strptime(date[7::],'%H:%M:%S')

In [66]:
# newDate=dt.datetime.strptime(date[7::],'%H:%M:%S').hour*60

In [67]:
frame.to_csv("citiBike.csv",encoding="utf-8", index=False, header=True)