In [1]:
import pandas as pd
import glob

all_files = glob.glob("cleaned/*.csv")

li = []

for filename in all_files:
    li.append(pd.read_csv(filename, index_col=None, header=0))

frame = li[0].append(li[1::], ignore_index=True)

In [4]:
frame.head

<bound method NDFrame.head of            tripduration            starttime             stoptime  \
0                   107                07:48                07:49
1                   493                12:41                12:49
2                   512                14:27                14:35
3                   196                15:07                15:10
4                   463                16:19                16:27
...                 ...                  ...                  ...
345435  0 days 00:23:00  2022-01-31 21:33:00  2022-01-31 21:56:00
345436  0 days 00:05:00  2022-01-31 14:30:00  2022-01-31 14:35:00
345437  0 days 00:07:00  2022-01-31 02:11:00  2022-01-31 02:18:00
345438  0 days 00:06:00  2022-01-31 20:38:00  2022-01-31 20:44:00
345439  0 days 00:07:00  2022-01-31 23:48:00  2022-01-31 23:55:00

       start station name  start station latitude  start station longitude  \
0          Exchange Place               40.716247               -74.033459
1          Exchange Place               40.716247               -74.033459
2          Exchange Place               40.716247               -74.033459
3          Exchange Place               40.716247               -74.033459
4          Exchange Place               40.716247               -74.033459
...                   ...                     ...                      ...
345435  Clinton St & 7 St               40.745420               -74.033320
345436  Clinton St & 7 St               40.745420               -74.033320
345437  Clinton St & 7 St               40.745420               -74.033320
345438  Clinton St & 7 St               40.745420               -74.033320
345439  Clinton St & 7 St               40.745420               -74.033320

                        end station name  end station latitude  \
0                            Paulus Hook             40.714145
1                              Warren St             40.721124
2                           Newport PATH             40.727224
3                       Essex Light Rail             40.712774
4                           Manila & 1st             40.721651
...                                  ...                   ...
345435  City Hall - Washington St & 1 St             40.737360
345436  City Hall - Washington St & 1 St             40.737360
345437                  Grand St & 14 St             40.754090
345438                  Grand St & 14 St             40.754090
345439                  Grand St & 14 St             40.754090

        end station longitude usertype  birth year  gender day of week  \
0                  -74.033552   member      1966.0    male      Monday
1                  -74.038051   casual      1990.0    male      Monday
2                  -74.033759   member      1987.0  female      Monday
3                  -74.036486   member      1989.0    male      Monday
4                  -74.042884   member      1995.0    male      Monday
...                       ...      ...         ...     ...         ...
345435             -74.030970   casual         NaN     NaN      Friday
345436             -74.030970   casual         NaN     NaN    Saturday
345437             -74.031600   casual         NaN     NaN      Sunday
345438             -74.031600   casual         NaN     NaN    Thursday
345439             -74.031600   casual         NaN     NaN    Saturday

        start date   stop date
0       04/01/2019  04/01/2019
1       04/01/2019  04/01/2019
2       04/01/2019  04/01/2019
3       04/01/2019  04/01/2019
4       04/01/2019  04/01/2019
...            ...         ...
345435  10/22/2021  10/22/2021
345436  10/16/2021  10/16/2021
345437  10/17/2021  10/17/2021
345438  10/07/2021  10/07/2021
345439  10/23/2021  10/23/2021

[345440 rows x 15 columns]>

In [6]:
# Drop first 131877 rows
# by selecting all rows from 4th row onwards
N = 131877
frame = frame.iloc[N: , :]
frame.head()

,tripduration,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender,day of week,start date,stop date
263754,0 days 00:31:00,2022-01-31 19:26:00,2022-01-31 19:57:00,City Hall,40.717732,-74.043845,Montgomery St,40.71942,-74.05099,casual,NaN,NaN,Saturday,10/02/2021,10/02/2021
263755,0 days 00:04:00,2022-01-31 15:41:00,2022-01-31 15:45:00,City Hall,40.717732,-74.043845,Montgomery St,40.71942,-74.05099,member,NaN,NaN,Friday,10/08/2021,10/08/2021
263756,0 days 00:09:00,2022-01-31 15:41:00,2022-01-31 15:50:00,Montgomery St,40.719420,-74.050990,Montgomery St,40.71942,-74.05099,member,NaN,NaN,Monday,10/25/2021,10/25/2021
263757,0 days 00:28:00,2022-01-31 18:28:00,2022-01-31 18:56:00,Montgomery St,40.719420,-74.050990,Montgomery St,40.71942,-74.05099,casual,NaN,NaN,Wednesday,10/27/2021,10/27/2021
263758,0 days 00:10:00,2022-01-31 11:55:00,2022-01-31 12:05:00,Montgomery St,40.719420,-74.050990,Montgomery St,40.71942,-74.05099,member,NaN,NaN,Monday,10/25/2021,10/25/2021

In [ ]:
## delete "0 days" take minutes and multiply by 60 to get seconds and replace the info, so entire column is by seconds